.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  z-index: 9000;
}

.navbar {
  background-color: #011e29;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #f6f6f6 !important;
  font-size: 1.1rem;
  gap: 80px;
  padding: 0 10%;
  align-items: flex-start;
  padding-top: 30px;
  z-index: 1;
}
.navbar-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navbar-left-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 30px; */
}
.navbar-left-top > div {
  display: flex;
  align-items: center;
}
.explore-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -10%;
}
.search-btn > a {
  text-decoration: none;
  color: #fff;
}
.navbar-left-bottom {
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 3%;
  color: #fff;
  font-size: 1.3rem;
  /* gap: 5px; */
  position: relative;
}
.date {
  padding: 0 16px 0 0;
  margin-right: 10px;
  line-height: 20px;
  position: relative;
}
.date:before {
  content: "";
  position: absolute;
  right: 0;
  height: 18px;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.location-temp:after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 13px;
  background: url("https://www.hindustantimes.com/res/images/weather-icon1.svg")
    no-repeat 0 0;
  margin-left: 3px;
}

.navbar-right {
  display: flex;
  flex: 30%;
  flex-direction: column;
  /* position: relative; */
  gap: 20px;
}
.navbar-right-top {
  display: flex;
  flex-direction: row;
  align-content: stretch !important;
  gap: 10px;
}
.navbar-right-top > div {
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
}
.navbar-right-top > div > a {
  text-decoration: none;
  color: #fff;
}

.navbar-right-bottom {
  font-size: 1.3rem;
  display: flex;
  /* justify-content: flex-end; */
  margin-left: 9%;
}
.subscribe {
  margin-left: 8px;
  position: relative;
  z-index: 2;
}
.subscribe > a {
  padding: 2px 6px;
  background-color: #fff;
  color: #011e29;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  height: 5%;
  border-radius: 2px;
  text-decoration: none;
}
.custom-icon1 {
  width: 14%;
}
.custom-icon {
  width: 25%;
}

span > strong {
  margin-left: 10px;
}

/* ---------------Drawer---------------- */

.MuiDrawer-paperAnchorLeft {
  width: 460px;
  background-color: #001e29 !important;
}
.MuiDrawer-paperAnchorRight {
  width: 460px;
  background-color: #f5f5f5 !important;
}

.drawer-header {
  padding: 20px 20px 0;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  margin-bottom: 9px;
  position: relative;
}
.drawer-list {
  /* overflow-y: scroll; */
  height: calc(100% - 76px);
  box-sizing: border-box;
  background-color: #001e29;
  border-top: solid 1px #00364a;
}
.MuiDrawer-paper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.MuiDrawer-paper::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.MuiDrawer-paper:-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}
.drawer-listItem > span {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.drawer-logo {
  flex: 1;
  margin-right: 10px;
}
.drawer-logo > img {
  width: 80%;
}
.drawer-header-text {
  flex: 4;
  word-wrap: break-word;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.drawer-header-icon {
  flex: 1;
  text-align: right;
}
.drawer-header-icon > img {
  width: 60%;
}

.login-drawer-header {
  background: #011e29;
  padding: 25px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.login-drawer-logo {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 98px;
  width: 98px;
  background-color: #fff;
  border-radius: 100%;
  margin: 0 auto;
}
.login-drawer-logo > span {
  display: inline-block;
  font-size: 50px;
}
.login-drawer-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 12px 0 10px;
}
.login-drawer-mail {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
}
.login-drawer-button > a {
  display: inline-block;
  width: 163px;
  height: 37px;
  color: #fff;
  font-size: 16px;
  line-height: 37px;
  border: solid 1px #fff;
  border-radius: 19px;
  text-decoration: none;
}
.login-drawer-exit {
  position: absolute;
  top: 2%;
  right: -3%;
}
.custom-icon2 {
  width: 28%;
}
.custom-list {
  width: 93%;
}
.custom-list > li {
  padding: 12px 16px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  border: 1px solid #e0e0e0;
  margin: 10px 20px;
  background: #fff;
  justify-content: space-between;
  display: flex;
}
.custom-list > li > div > span {
  color: #212121;
}

/* -----------------Navbar Lists------------------- */
.navbar-bottom {
  width: auto;
}
.navbar-list {
  list-style: none;
  display: flex;
  gap: 50px;
  position: relative;

  overflow-x: scroll;
}
.navbar-list li:first-child {
  margin-left: auto;
}

.navbar-list li:last-child {
  margin-right: auto;
}
.navbar-list > li {
  position: relative;
}
.important:before {
  position: absolute;
  top: 0;
  right: -3px;
  width: 5px;
  height: 5px;
  background: #f60101;
  border-radius: 100%;
  content: "";
}
.navbar-list > li > a {
  text-decoration: none;
  color: #212121;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  position: relative;
}
.navbar-list > li :hover {
  color: #00b1cd;
}
.navbar-list::-webkit-scrollbar {
  display: none;
}
.navbar-list-btn {
  list-style: none;
  display: flex;
  gap: 30px;
  position: relative;

  overflow-x: scroll;
}
.navbar-list-btn::-webkit-scrollbar {
  display: none;
}
.navbar-list-btn li:first-child {
  margin-left: auto;
}

.navbar-list-btn li:last-child {
  margin-right: auto;
}
.new-list :before {
  content: "";
  position: absolute;
  right: 16px;
  top: 4px;
  height: 15px;
  width: 32px;
  background: url("https://www.hindustantimes.com/res/images/new-white-border.svg")
    no-repeat 0 0;
}
.navbar-list-btn > li {
  padding: 10px 5px;
  height: inherit;
  line-height: 20px;
  text-align: center;
  position: relative;
}
.navbar-list-btn > li:hover > a {
  background-color: #deedef;
  border: 1px solid #00b1cd;
}
.navbar-list-btn > li > a {
  border-radius: 15px;
  border: solid 1px #ddd;
  padding: 4px 15px;
  display: inline-block;
  white-space: nowrap;
  color: #000;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}
.m_navbar {
  display: none;
}

/* ---------------------Media Query------------------ */

@media (min-width: 1290px) and (max-width: 1550px) {
  .navbar-left-bottom {
    font-size: 1rem;
  }
  .navbar-right-bottom {
    font-size: 1rem;
  }
  .navbar-bottom {
    padding: 0;
    margin: auto;
  }
  .navbar-list {
    gap: 30px;
    overflow-x: scroll;
  }

  .navbar-list-btn {
    overflow-x: scroll;
  }
}
@media (min-width: 768px) and (max-width: 1289px) {
  .navbar {
    gap: 20px;
    padding: 0 2%;
    padding-top: 10px;
    height: 100px;
    align-items: center;
  }
  .navbar-left-bottom {
    display: none;
  }
  .navbar-right-bottom {
    font-size: 0.8rem;
  }
  .navbar-right-top {
    gap: 40px;
  }

  .search-btn {
    left: 2%;
  }
  .custom-icon1 {
    width: 20%;
  }
  .custom-icon {
    width: 40%;
  }
  span > strong {
    font-size: 0.9rem;
  }
  .navbar-bottom {
    padding: 0;
  }
  .navbar-list {
    overflow-x: scroll;
  }
  .navbar-list-btn {
    overflow-x: scroll;
  }
  .navbar-list > li > a {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-bottom {
    padding: 0;
  }
  .navbar-list {
    overflow-x: scroll;
    justify-content: start;
    gap: 30px;
  }
  .navbar-list-btn {
    overflow-x: scroll;
  }
  .navbar-list > li > a {
    font-size: 1rem;
  }
  .navbar-list-btn > li > a {
    font-size: 0.8rem;
    border-radius: 15px;
    border: solid 1px #ddd;
    padding: 3px 10px;
  }
  .navbar-list-btn > li:hover > a {
    background-color: #deedef;
    border: 1px solid #00b1cd;
  }
  .m_navbar {
    background-color: #011e29;
    height: 120px;
    display: flex;
    color: #f6f6f6 !important;

    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .m_navbar > div > img {
    width: 30%;
  }
  .m_navbar_left {
    flex: 1;
  }
  .m_navbar_middle {
    flex: 2;
  }
  .m_navbar_middle > img {
    width: 100% !important;
  }

  .m_navbar_right {
    flex: 1;
  }
}
