/* 
.conatainer{
      
 
  background-color: 
  #f5f5f5;
  padding: 50px;
}
.hindustanNews{
display: flex;
width: 95%;
justify-content: space-between ;
margin: auto;



}
.top{

width: 22%;
height:650px;
overflow: scroll;
overflow-x: hidden;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
position: sticky;
top: 0;
background-color: white;

}

.latest{

box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
width: 50%;
  height:auto;
  background-color: white;
}
.sport{

width: 25%;
overflow: scroll;
overflow-x: hidden;
height:650px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
position: sticky;
background-color: white;
top: 0;
}


.hd{
  border: 1px solid #dbdbdb;
  
  width: 100%;

 
  margin-top: -9px;
}

.hdstyle1{
  position: absolute;
z-index: 10;
margin-top: -33px;
background-color:white ;

margin-left: 40px;

}
.hdstyle2{
  position: absolute;
z-index: 10;
margin-top: -33px;
background-color:white ;

margin-left: 160px;
}
.hdstyle3{
  position: absolute;
z-index: 10;
margin-top: -33px;
background-color:white ;

margin-left: 70px;
}

.hdstyle1>span{
  color: #00b1cd;
}
.hdstyle2>span{
  color: #00b1cd;
}
.hdstyle3>span{
  color: #00b1cd;
}





 */
